.formulario{
    width: 1280px;
    height: auto;
    margin-top: 100px;
    margin: auto;
    text-align: center;
}

.titulo__formulario{
    margin-top: 50px;
    font-size: 34px;
}

.txt__formulario{
    text-align: center;
    color: #66708593;
    margin-top: 16px;
}

.formulario__email{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 50px;
    border-radius: 10px;
    margin-top: 16px;
    gap: 16px;
}

.caixaDEmail__formulario{
    width: 300px;
    height: 35px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    color: #66708593;
}

.botao__cadastrar{
    background-color: #8E2424;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.direitos__formulario{
    text-align: center;
    color: #66708593;
}